@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(novacon);
@import "tailwindcss/utilities.css" layer(utilities) prefix(novacon);
@import "tw-animate-css"; /*TODO: need warning about this in docs*/

@theme {
  --animate-float: float var(--tw-duration, 4000ms) var(--tw-ease, ease-in-out) infinite;
  --animate-rotate: rotate var(--tw-duration, 1500ms) var(--tw-ease, ease) infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@utility u-shadow-inner-base {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

@utility u-shadow-inset-arc {
  box-shadow: 0 2px 0 var(--tuwa-pending-icon) inset;
}
